<nav class="navbar navbar-expand-lg navbar-dark">
  <a class="navbar-brand d-lg-none" href="#">Drew and Gina</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mx-auto">
      <li class="nav-item {% if {{page.title}} contains 'Home' %}active{% endif %}">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item {% if {{page.title}} contains 'Info' %}active{% endif %}">
        <a class="nav-link" href="{{site.github.url}}/info.html">Info</a>
      </li>
      <li class="nav-item {% if {{page.title}} contains 'Registry' %}active{% endif %}">
        <a class="nav-link" href="{{site.github.url}}/registry.html">Registry</a>
      </li>
      <li class="nav-item {% if {{page.title}} contains 'RSVP' %}active{% endif %}">
        <a class="nav-link" href="{{site.github.url}}/rsvp.html">RSVP</a>
      </li>
    </ul>
  </div>
</nav>
